@font-face {
  font-family: 'TTLakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'TTLakes';
  src: url(./fonts/TTLakes-Medium.woff2) format("woff2"), url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'TTLakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

.btn-before::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%; }

.btn-before:hover::before {
  background-color: brown; }

.btn-after::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%; }

.btn-after:hover::after {
  background-color: brown; }

.reset-btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer; }

.reset-list {
  list-style: none;
  padding: 0; }

.reset-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }
  .reset-link:hover {
    text-decoration: underline; }

.section-title {
  font-family: TTLakes, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.39%, #F8F8F8), to(#FFFFFF));
  background: -o-linear-gradient(left, #F8F8F8 1.39%, #FFFFFF 100%);
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  color: #7E7E82;
  height: 57px;
  font-weight: normal;
  border-top: 1px solid #D9FFF5;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin: 0; }

.modal-window {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  max-width: 440px;
  min-width: 320px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  padding: 31px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  background-color: white; }

.modal-title {
  margin-top: -10px;
  font-family: TTLakes, Tahoma, sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  font-weight: bold;
  margin-bottom: 8px; }
  .modal-title::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 40px;
    background: #41F6D7;
    border-radius: 2px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px); }

.modal-input {
  max-width: 376px;
  min-width: 288px;
  height: 48px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px 12px;
  outline: none;
  font-size: 16px;
  line-height: 24px; }

.modal-input--message {
  height: initial; }

::-webkit-input-placeholder {
  font-family: TTLakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

::-moz-placeholder {
  font-family: TTLakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

/* Firefox 19+ */
:-moz-placeholder {
  font-family: TTLakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

/* Firefox 18- */
:-ms-input-placeholder {
  font-family: TTLakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

.modal-text {
  font-family: TTLakes;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82; }

.modal-link {
  color: red; }

.modal-button {
  display: block;
  width: 136px;
  height: 32px;
  margin-right: 17px;
  margin-left: auto;
  margin-top: 5px;
  border-radius: 16px;
  background-color: #FF3E79;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: TTLakes;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: white;
  letter-spacing: -0.15px;
  text-transform: uppercase; }
  .modal-button:hover {
    background-color: brown; }

.modal-arrow {
  margin-left: 15px; }

.modal-exit {
  position: absolute;
  right: 470px;
  top: 20px; }

.modal-exit::before {
  background-image: url(./static/close.svg); }

@media (max-width: 320px) {
  .modal-window {
    padding: 16px; }
  .modal-title {
    margin-top: 70px; }
    .modal-title::before {
      -webkit-transform: matrix(-1, 0, 0, 1, -15, 0);
          -ms-transform: matrix(-1, 0, 0, 1, -15, 0);
              transform: matrix(-1, 0, 0, 1, -15, 0); }
  .modal-exit {
    -webkit-transform: translateX(210px);
        -ms-transform: translateX(210px);
            transform: translateX(210px); }
  .modal-input {
    width: 100%;
    max-width: 288px; } }

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.body-container-aside {
  font-family: TTLakes, sans-serif;
  max-width: 320px;
  min-width: 320px;
  width: 100%;
  padding: 30px 25px;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  background-color: white; }
  .body-container-aside .body-container-aside__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .body-container-aside__exit {
    display: none; }
  .body-container-aside__search {
    margin-right: 0px;
    margin-left: auto; }
  .body-container-aside__input {
    display: none;
    vertical-align: middle;
    height: 40px;
    width: 120px;
    margin-right: 0px;
    margin-left: auto;
    line-height: 24px;
    font-size: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    outline: none; }
  .body-container-aside__ul {
    margin: 0px;
    margin-top: 38px; }
  .body-container-aside__li {
    font-family: TTLakes;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-top: 28px; }
  .body-container-aside__li--chosen {
    color: #7E7E82; }
  .body-container-aside__li--chosen::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 40px;
    background: #41F6D7;
    border-radius: 2px;
    -webkit-transform: translateX(-25px);
        -ms-transform: translateX(-25px);
            transform: translateX(-25px); }
  .body-container-aside__footer {
    margin-top: 240px; }
  .body-container-aside__connect-form .connect-form__message {
    margin-left: 16px; }
  .body-container-aside__connect-form .connect-form__profile {
    margin-left: 16px;
    margin-right: auto; }
  .body-container-aside__connect-information {
    margin-top: 16px; }
  .body-container-aside__info {
    display: block;
    font-weight: 500; }
  .body-container-aside .phone {
    margin-top: 12px;
    font-weight: bold; }
  .body-container-aside__language {
    margin-top: 40px; }
    .body-container-aside__language .ru {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: red; }
    .body-container-aside__language .ru:hover {
      color: red; }
    .body-container-aside__language .en {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21;
      margin-left: 7px; }
    .body-container-aside__language .en:hover {
      color: red; }
    .body-container-aside__language .ch {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21;
      margin-left: 7px; }
    .body-container-aside__language .ch:hover {
      color: red; }

@media (max-width: 1439px) {
  .body-container-aside {
    position: absolute;
    left: -100%;
    bottom: 0;
    top: 0;
    border-right: 1px solid rgba(172, 166, 166, 0.5);
    overflow-x: hidden;
    overflow-y: scroll; }
  .body-container-aside__exit {
    display: initial;
    margin-right: 10px; } }

@media (max-width: 320px) {
  .body-container-aside__footer {
    margin-top: 32px; } }

.btn-burger::before {
  background-image: url(./static/menu.svg); }

.btn-check-status::before {
  background-image: url(./static/status.svg); }

.btn-check-status-after::after {
  background-image: url(./static/status.svg); }

.btn-repair-after::after {
  background-image: url(./static/tools.svg); }

.btn-contact::before {
  background-image: url(./static/user.svg); }

.btn-exit::before {
  background-image: url(./static/close.svg); }

.btn-message::before {
  background-image: url(./static/message.svg); }

.btn-phone::before {
  background-image: url(./static/call.svg); }

.btn-repair::before {
  background-image: url(./static/tools.svg); }

.btn-search::before {
  background-image: url(./static/search.svg); }

.body-container__content {
  background-color: #F8F8F8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-x: scroll; }

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87px;
  background-color: white; }
  .top-menu__status {
    margin-right: 24px; }
  .top-menu__repair {
    margin-right: 16px; }
  .top-menu__contact {
    margin-right: 42px; }
    .top-menu__contact::after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 32px;
      background: #EAEAEA;
      border-radius: 1px;
      -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
              transform: translateX(20px); }
  .top-menu__message {
    margin-right: 16px; }
  .top-menu__phone {
    margin-right: 16px;
    margin-left: auto; }
  .top-menu__logo {
    margin-left: 42px;
    margin-right: auto; }
  .top-menu__burger {
    margin-left: 24px; }
    .top-menu__burger::after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 32px;
      background: #EAEAEA;
      border-radius: 1px;
      -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
              transform: translateX(20px); }

@media (min-width: 1439px) {
  .top-menu {
    display: none; } }

@media (max-width: 767px) {
  .top-menu__phone {
    display: none; }
  .top-menu__message {
    display: none; }
  .top-menu__contact {
    display: none; }
  .top-menu__status {
    margin-right: 16px; }
  .top-menu__burger {
    margin-left: 16px; }
  .top-menu__burger::after {
    content: none; }
  .top-menu__logo {
    margin-left: 13px;
    margin-right: auto; }
  .top-menu__logo::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    -webkit-transform: translate(15px, -10px);
        -ms-transform: translate(15px, -10px);
            transform: translate(15px, -10px); } }

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  padding-top: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .top__title {
    margin-bottom: 0;
    margin-top: 0;
    font-family: TTLakes, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold; }
    .top__title::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 3px;
      height: 40px;
      background: #41F6D7;
      border-radius: 2px;
      -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
              transform: matrix(-1, 0, 0, 1, 0, 0);
      -webkit-transform: translateX(-20px);
          -ms-transform: translateX(-20px);
              transform: translateX(-20px); }
  .top__links {
    margin-right: 32px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .top__first-link {
    font-family: TTLakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500; }
    .top__first-link:after {
      vertical-align: middle;
      margin-right: 32px;
      margin-left: 5px; }
  .top__second-link {
    font-family: TTLakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500; }
    .top__second-link:after {
      vertical-align: middle;
      margin-left: 5px; }

@media (max-width: 1439px) {
  .top {
    padding-top: 25px; }
  .top__links {
    display: none; } }

.top-navigation {
  padding-left: 20px;
  padding-top: 10px; }
  .top-navigation__list {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .top-navigation__item {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    padding: 10px 24px;
    word-wrap: none;
    text-align: center;
    vertical-align: middle;
    border: 2px solid transparent; }
    .top-navigation__item:hover {
      border: 2px solid #B8FFEC;
      border-radius: 8px;
      background-color: white; }
    .top-navigation__item > a:hover {
      text-decoration: none; }

@media (max-width: 1439px) {
  .top-navigation__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; }
  .top-navigation__item {
    -ms-flex-negative: 0;
        flex-shrink: 0; } }

@media (max-width: 320px) {
  .top-navigation {
    overflow-x: none; }
  .top-navigation__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; }
  .top-navigation__item {
    -ms-flex-negative: 0;
        flex-shrink: 0; } }

.about-us {
  font-family: TTLakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  padding: 34px; }
  .about-us__photo {
    float: right;
    border-radius: 8px;
    margin-left: 36px;
    width: 531px; }
  .about-us__more {
    font-family: inherit;
    font-weight: bold;
    font-family: TTLakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-top: 10px; }
    .about-us__more::before {
      content: '';
      display: inline-block;
      background: url("/src/img/all.svg") no-repeat 50% 50%;
      width: 14px;
      height: 14px;
      margin-right: 5px; }
    .about-us__more:hover {
      text-decoration: underline; }
  .about-us__more--less {
    font-family: inherit;
    font-weight: bold;
    font-family: TTLakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-top: 10px; }
    .about-us__more--less:hover {
      text-decoration: underline; }
  .about-us__more--less::before {
    content: '';
    display: inline-block;
    background: url("/src/img/all.svg") no-repeat 50% 50%;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    -webkit-transform: scale(-1);
        -ms-transform: scale(-1);
            transform: scale(-1); }
  .about-us .paragraph--hidden {
    display: none; }
  .about-us::after {
    content: '';
    display: table;
    clear: both; }

@media (max-width: 768px) {
  .about-us__photo {
    width: 360px; } }

@media (max-width: 767px) {
  .about-us {
    padding-top: 24px; }
  .about-us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-us__paragraphs {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .about-us__more {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 20px; }
  .about-us__more--less {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 20px; }
  .about-us__photo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 320px;
    margin: 0; } }

.brands__wrapper {
  padding: 32px;
  padding-bottom: 0px;
  padding-left: 0px; }

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.brands__item {
  width: 240px;
  height: 72px;
  background-color: white;
  margin-left: 32px;
  margin-top: 16px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.brands__button {
  margin-right: 16px;
  margin-left: auto; }

.brands__button::before {
  background-color: white;
  border: 2px solid #FF3E79;
  background-image: url("/img/arrow-right-pink.svg"); }

.brands__button:hover::before {
  background-color: #FF3E79;
  background-image: url("/img/arrow-right-white.svg"); }

.brands__logo {
  margin-left: 16px;
  margin-right: auto; }

.brands__show-more {
  margin-left: 32px; }

@media (min-width: 769px) and (max-width: 1440px) {
  .brands__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

@media (max-width: 768px) {
  .brands__wrapper {
    padding-right: 15px; }
  .brands__item {
    width: 224px;
    margin-left: 24px; }
    .brands__item:last-child {
      display: none; }
    .brands__item:nth-last-child(2) {
      display: none; } }

@media (max-width: 767px) {
  .brands__wrapper {
    padding-right: 0; }
  .brands__show-more {
    display: none; }
  .brands__list {
    margin: 0px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .brands__item {
    width: 240px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.repair {
  padding-top: 50px; }
  .repair__wrapper {
    padding: 32px;
    padding-bottom: 0px;
    padding-left: 0px; }
  .repair__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding-top: 24px; }
  .repair__item {
    position: relative;
    font-family: TTLakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    width: 240px;
    height: 160px;
    margin-left: 32px;
    margin-top: 16px; }
  .repair__text {
    position: absolute;
    left: 16px;
    top: 16px; }
  .repair__button {
    position: absolute;
    right: 16px;
    bottom: 16px; }
  .repair__show-more {
    margin-left: 32px;
    margin-top: 15px; }

@media (max-width: 1439px) {
  .repair {
    padding-top: 24px; } }

@media (min-width: 769px) and (max-width: 1440px) {
  .repair__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

@media (max-width: 768px) {
  .repair__wrapper {
    padding-right: 15px; }
  .repair__item {
    width: 224px;
    margin-left: 24px; }
    .repair__item:last-child {
      display: none; } }

@media (max-width: 767px) {
  .repair__wrapper {
    padding-right: 0; }
  .repair__show-more {
    display: none; }
  .repair__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .repair__item {
    width: 240px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.order {
  padding-top: 50px; }
  .order__wrapper {
    padding: 32px;
    margin: 0; }
  .order__list {
    width: 1056px; }
  .order__button {
    display: initial; }
  .order__item {
    font-family: TTLakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    padding: 24px;
    padding-top: 8px;
    background-color: white; }
  .order__item:nth-child(2) {
    border-radius: 8px 8px 0px 0px; }
  .order__item:last-child {
    border-radius: 0px 0px 8px 8px; }
  .order__item--header {
    font-family: TTLakes;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    background-color: #F8F8F8;
    border-radius: none; }
  .order__span--header {
    opacity: 0.72; }

@media (max-width: 1439px) {
  .order {
    padding-top: 24px; } }

@media (max-width: 768px) {
  .order__list {
    width: 720px; }
  .order__wrapper {
    padding-right: 24px; } }

.main-footer {
  padding: 24px;
  padding-top: 0;
  font-family: TTLakes;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21; }
  .main-footer__p {
    margin-top: 0;
    width: 421px;
    height: 60px; }
  .main-footer__link {
    font-weight: bold; }
    .main-footer__link::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      width: 14px;
      height: 18px;
      background: url("/src/img/all.svg") no-repeat 50% 160%;
      background-size: 130%;
      color: red;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }

@media (max-width: 320px) {
  .main-footer__p {
    width: 288px;
    height: 137px; }
  .main-footer__link {
    width: 192px;
    height: 54px; } }

.footer {
  margin: 0;
  padding-bottom: 21px;
  padding-left: 24px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #D9FFF5;
  font-family: TTLakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  opacity: 0.72;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__copyright {
    width: 218px;
    height: 32px; }
  .footer__link {
    width: 214px;
    height: 16px;
    margin-right: 40px;
    margin-left: auto; }
  .footer__info {
    width: 330px;
    height: 32px;
    margin-right: 24px;
    margin-left: auto; }

@media (max-width: 768px) {
  .footer__info {
    width: 213px;
    height: 48px;
    margin-right: 24px;
    margin-left: auto; } }

@media (max-width: 320px) {
  .footer {
    padding-right: 5px;
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__info {
    text-align: center;
    width: auto; }
  .footer__link {
    text-align: center;
    width: auto; }
  .footer__copyright {
    text-align: center;
    width: auto; } }

.body-overlay::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 80;
  background: rgba(255, 255, 255, 0.85); }

.swiper-pagination {
  position: static;
  margin-top: 16px; }
  .swiper-pagination-bullet {
    margin-right: 6px;
    margin-left: 6px;
    width: 12px;
    height: 12px;
    background-color: #DDDDDD; }
    .swiper-pagination-bullet-active {
      background-color: #B5B6BC; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }


/*# sourceMappingURL=style.css.map*/