.brands{
    &__wrapper{
        padding: 32px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        box-sizing: border-box;
        width: 240px;
        height: 72px;
        background-color: white;
        margin-left: 32px;
        margin-top: 16px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        display: flex;
        align-items: center;
    }
    &__button{
        margin-right: 16px;
        margin-left: auto;
    }
    &__button::before{
        background-color: white;
        border: 2px solid #FF3E79;
        background-image: url('../img/arrow-right-pink.svg');
    }
    &__button:hover::before{
        background-color: #FF3E79;
        background-image: url('../img/arrow-right-white.svg'); 
    }
    &__logo{
        margin-left: 16px;
        margin-right: auto;
    }
    &__show-more{
        margin-left: 32px;  
    }
    
    
}


@media (min-width:769px) and (max-width: 1439px){
    .brands__item{
        flex-grow: 1;
    }
}
@media (max-width: 768px){
    .brands__wrapper{
        padding-right: 15px;
    }
    .brands__item{
        width: 224px;
        margin-left: 24px;
        &:last-child{
            display: none;
        }
        &:nth-last-child(2){
            display: none;
        }
    }
}
@media (max-width: 767px){
    .brands__wrapper{
        padding-right: 0;
        
    }
    .brands__show-more{
        display: none;
    }
    .brands__list{
        margin: 0px;
        flex-wrap: nowrap;
    }
    .brands__item{
        width: 240px;
        margin: 0px;
        box-sizing: border-box;
    }
    
}
