.modal-window{
    transform: translateX(100%);
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    max-width: 440px;
    min-width: 320px;
    box-shadow: 0;
    padding: 31px; 
    transition: 0.7s;
    background-color: white;
}
.modal-title{
    margin-top: -10px;
    font-family:  TTLakes, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 32px;    
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
    margin-bottom: 8px;
    &::before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height: 40px;
        background: #41F6D7;
        border-radius: 2px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        transform: translateX(-30px);
    }
}

.modal-input{
    max-width: 376px;
    min-width: 288px;
    height: 48px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin-top: 16px;
    padding: 16px 12px;
    outline: none;

    font-size: 16px;
    line-height: 24px;
}
.modal-input--message{
    height: initial;
}
::-webkit-input-placeholder {font-family: TTLakes;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: -0.2px;
                            color: #B5B6BC;}
::-moz-placeholder          {font-family: TTLakes;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: -0.2px;
                            color: #B5B6BC;}/* Firefox 19+ */
:-moz-placeholder           {font-family: TTLakes;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: -0.2px;
                            color: #B5B6BC;}/* Firefox 18- */
:-ms-input-placeholder      {font-family: TTLakes;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: -0.2px;
                            color: #B5B6BC;}

.modal-text{
    font-family: TTLakes;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
}
.modal-link{
    color: red;
    
}
.modal-button{
    display: block;
    width: 136px;
    height: 32px;
    margin-right: 17px;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 16px;
    background-color: #FF3E79;
    border: none;
    outline: none;
    cursor: pointer;
    //для текста
    font-family: TTLakes;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: white;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    &:hover{
        background-color: brown;
    }
}
.modal-arrow{
    margin-left: 15px;
}
.modal-exit{
    // display: none;
    position: absolute;
    right: 470px;
    top: 20px;
}
.modal-exit::before{
    background-image: url("../img/close.svg");
}
@media (max-width: 320px){
    .modal-window{
        padding: 16px;
    }
    .modal-title{
        margin-top: 70px;
        &::before{
            transform: matrix(-1, 0, 0, 1, -15, 0);
        }
    }
    .modal-exit{
        transform: translateX(210px);
    }
    .modal-input{
        width: 100%;
        max-width: 288px;
    }
}

