.section-title{
    font-family:  TTLakes, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    color: #7E7E82;
    height: 57px;
    font-weight: normal;
    border-top: 1px solid #D9FFF5;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
}