@import "fonts";
@import "btn-before";
@import "reset-btn";
@import "reset-list";
@import "reset-link";
@import "../scss/blocks/section-title.scss";
@import "../scss/blocks/modal-window.scss";

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*, *:before, *:after {
  box-sizing: inherit;
 
 
}

