@import "fonts";
@import "btn-before";
@import "btn-after";
@import "reset-btn";
@import "reset-list";
@import "reset-link";
@import "../scss/blocks/section-title.scss";
@import "../scss/blocks/modal-window.scss";
@import '../scss/blocks/body.scss';
@import "../scss/blocks/aside.scss";
@import '../scss/buttons/btn-burger.scss';
@import '../scss/buttons/btn-check-status.scss';
@import "../scss/buttons/btn-check-status-after.scss";
@import "../scss/buttons/btn-repair-after.scss";
@import '../scss/buttons/btn-contact.scss';
@import '../scss/buttons/btn-exit.scss';
@import '../scss/buttons/btn-message.scss';
@import '../scss/buttons/btn-phone.scss';
@import '../scss/buttons/btn-repair.scss';
@import '../scss/buttons/btn-search.scss';
@import '../scss/blocks/content.scss';
@import '../scss/blocks/top-menu.scss';
@import '../scss/blocks/top.scss';
@import '../scss/blocks/top-navigation.scss';
@import "../scss/blocks/about-us.scss";
@import "../scss/blocks/brands.scss";
@import '../scss/blocks/repair.scss';
@import "../scss/blocks/order.scss";
@import "../scss/blocks/main-footer.scss";

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

